4. Create a list of your favorite movies and print it. Then, append a new movie to the list and print the updated list.

In [2]:
list_movies=['Iron-Man','Shawshank Redemption','3 Idiots']
list_movies

['Iron-Man', 'Shawshank Redemption', '3 Idiots']

In [3]:
list_movies.append('Avengers')
list_movies

['Iron-Man', 'Shawshank Redemption', '3 Idiots', 'Avengers']

5. Create a list of integers from 1 to 10 and print it. Calculate the sum of all the numbers in the list and print the result.

In [4]:
list_integers= list(range(1,11))
list_integers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
sum(list_integers)

55

6. Create a list of mixed data types including strings, integers, and floats and print it. Remove the first element from the list and print the modified list.

In [6]:
list_a=['hello','world',1,2,3.5,8.6]
list_a

['hello', 'world', 1, 2, 3.5, 8.6]

In [7]:
list_a.pop(0)
list_a

['world', 1, 2, 3.5, 8.6]

7. Create a tuple containing the names of the days of the week and print it. Access and print the name of the third day.

In [8]:
days=('sunday','monday','tuesday','wednesday','thursday','friday','saturday')
days

('sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday')

In [12]:
days[2]

'tuesday'

8. Create a tuple of your favorite colors and print it. Check if a certain color is present in the tuple and print the result.

In [13]:
colors=('red','green','blue')
colors

('red', 'green', 'blue')

In [15]:
if 'red' in colors:
    print('Yes')
else:
    print('No')

Yes

In [16]:
if 'yellow' in colors:
    print('Yes')
else:
    print('No')

No

9. Create a dictionary representing the information of a book with keys "title", "author", and "year" and print it. Update the year of the book and print the updated dictionary.

In [18]:
book={'title':'The Kite Runner','author':'Khaleed Hosseini','year':2002}
book

{'title': 'The Kite Runner', 'author': 'Khaleed Hosseini', 'year': 2002}

In [19]:
book['year']=2003
book

{'title': 'The Kite Runner', 'author': 'Khaleed Hosseini', 'year': 2003}

10. Create a dictionary containing the names of fruits as keys and their corresponding colors as values and print it. Add a new fruit-color pair to the dictionary and print the updated dictionary.

In [20]:
fruits={'apple':'red','mango':'green','banana':'yellow'}
fruits

{'apple': 'red', 'mango': 'green', 'banana': 'yellow'}

In [21]:
fruits['orange']='orange'
fruits

{'apple': 'red', 'mango': 'green', 'banana': 'yellow', 'orange': 'orange'}

11. Create a dictionary representing the population of different cities with keys as city names and values as population numbers and print it. Remove a city from the dictionary and print the modified dictionary.

In [22]:
cities={'Kathmandu':3000000,'New York':8000000,'Tokyo':37000000}
cities

{'Kathmandu': 3000000, 'New York': 8000000, 'Tokyo': 37000000}

In [23]:
del cities['New York']
cities

{'Kathmandu': 3000000, 'Tokyo': 37000000}